@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
  }
  
  body {
    background: #233142;
    font-family: helvetica, arial, sans-serif;
    font-size: 13px;
    color: #333333;
    line-height: 1;
  }
  
  #app {
    position: absolute;
    background: #233142;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  #app .container {
    width: 376px;
    height: 666px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 73% 12%;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
  }
  .modal{
    position:absolute;
    width: 376px;
    height: 666px;
    top: 136px;
    left: 772px;
  }

  .Dropdown-option{
    color: inherit!important;
  }
  .Dropdown-option:hover {
    color: none!important;
    background-color: inherit!important;
  }
  
  .Dropdown-option.is-selected {
    background-color: inherit!important;
    color: #333;
  }
  
  @layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 20px;
      height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #f7f4ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #e0cbcb;
      border-radius: 100vh;
      border: 3px solid #f6f7ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #c0a0b9;
    }
  }